
#fondo{
    background:rgb(250, 209, 75);
}

.navbar {
    background-color:  #ffffff;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .75);
    min-height: 70px;
}

.navbar-brand{
    color: black;
}

.nav-link{
    color: black;
}

.container{
    align-items: center;
}
#texto-nav{
    font-size: 25pt;
    font-family: Arial;
    font-weight: bold;
}

#barrita{
    background-color: black;
}

#entrar{
    font-size: medium;
    width:140px;
    color: black;
    border: #000000 2px solid;
    background-color: rgb(255, 255, 255);
    width:140px;
}

#cuadro{
  border: white 1px solid;
}

