body{
    background:url(../img/fondo_pnl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color:  #d4ae03;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .75);
    min-height: 70px;
}

.navbar-brand{
    color: black;
}

.nav-link{
    color: black;
}

.container{
    align-items: center;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    display: inline;
    display: block;
}

#cabeza{
    background-color: rgb(121, 50, 0);
    color: rgb(255, 255, 255);
}

.card-body{
    background-color: black;
    color: rgb(255, 255, 255);
}

.colob{
    color: black;
}

.table{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}