#fondo{
    background:rgb(250, 209, 75);
} 

:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

.navbar {
    background-color:  #ffffff;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .75);
    min-height: 70px;
}

#texto-nav{
    font-size: 25pt;
    font-family: Arial;
    font-weight: bold;
}

#barrita{
    background-color: black;
}

.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-white)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

p{
    font-size:18pt;
}
.contact-box {
    padding: 3rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}

.ingresar{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow:0 0 30px rgba(78, 79, 83, 0.9);
    padding-left: 70px;
    margin-top:-20px;
    border-radius: 5rem;
    position: abs;
    
}


.form-control {
    background-color: var(--color-grey);
    border: 2px solid;
    border-radius: .2rem;
    padding: 1rem 1rem;
    
}

.ing{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
    height: 30px;
}

#medio{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#servicio{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#num_seguridad{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#observaciones{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#email{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#pass{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

#parentesco{
    border: 3px solid;
    border-color: black black rgb(207, 152, 0);
}

.register-bg {
    background-image: url(../img/a.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    left: initial;
}

#menu ul ul li {
    float:none;
    width:150px
   }

#marca{
    font-weight: bold; 
    font-size: 20pt;
}

.ingresar{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow:0 0 30px rgba(78, 79, 83, 0.9);
    padding-left: -20px;
    margin-top:-40px;
    border-radius: 5rem;
  }