body{
    background:url(../img/fondo_pnl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    align-items: center;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    display: inline;
    display: block;
}

#cabeza{
    background-color: rgb(121, 50, 0);
    color: rgb(255, 255, 255);
}

#cuerpo{
    background-color: rgb(176, 177, 157);
}
#fondo{
    background-color: rgb(0, 0, 0);
}

.table{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}